body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.H_SEC{
  opacity: 1;
  height: 657px;
  background-color: rgb(255, 255, 255);
  /* margin-bottom: 1rem; */
  /* border:1px solid red; */
}

.IMPORTANT{
  width: 360px !important;
  margin-right: 15px !important;
}
.IMPORTANT2{
  width: 370px !important;
  margin: 0px 7px;
}
.WEEK{
  width: 176px;
  margin: 0px 5px;
}